.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  
}

.loginHeader {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.loginSecHeader{
  font-weight: 400;
  font-size: 20px;
  line-height: 37.48px;
  color: #747475;
  margin: auto;
}

.mainContainer{
  width: 916px;
  height: auto;
  margin: auto;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  direction: rtl;
  padding: 20px;
  margin-bottom: 20px;
}
.years{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 876px;
  height: 43px;
  border: 1px solid #d1d1d1;
  background: #E8E8E8;
  border-radius: 8px;


}
.label{
  width: 115px;
  height: 43px;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  align-items: center;
  background: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 0 8px 8px 0;
  border-right: none;
    border-left: none;
    padding: 20px;


}

.scrollContainer {
  display: flex;
  overflow-x: scroll; /* Enables smooth touch scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
  gap: 40px; /* Space between items */
  padding: 20px;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollContainerDays {
  display: flex;
  overflow-x: scroll; /* Enables smooth touch scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
  gap: 10px; /* Space between items */
  padding: 20px;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.button {
  flex: 0 0 90px; /* Fixed button size */
  padding: 10px 5px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none; /* Prevent text selection */
  height: 30px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonDays {
  flex: 0 0 50px; /* Fixed button size */
  padding: 10px 5px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none; /* Prevent text selection */
  height: 30px;
  /* width: 90px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #B49345;
  color: white;
  font-weight: bold;
  height: 30px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowButton {
  background-color: #f3f3f3;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  user-select: none;
  width: 90px;
  height: 30px;
  background: #fff;
  padding: 10px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 8px;
  color: #B49345;
  font-size: 20px;
  font-weight: 600;
}

.arrowButton:hover {
  background-color: #ddd;
}
