.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  
}

.loginHeader {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.loginSecHeader{
  font-weight: 400;
  font-size: 20px;
  line-height: 37.48px;
  color: #747475;
  margin: auto;
}




.dateSelector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  direction: rtl;
  
}

.selector {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navButton {
  padding: 5px 10px;
  border: none;
  background-color: #c7a247;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.scrollContainer {
  display: flex;
  gap: 5px;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 300px; /* Adjust the width to display 5 items */
}

.button {
  flex: 0 0 60px; /* Fixed width for buttons */
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  text-align: center;
}

.button:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #c7a247;
  color: white;
  font-weight: bold;
}
